#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.face {
  width: 3em;
  height: 3em;
  margin: 0 0.5em 0.5em 0;
  vertical-align: top;
}

.player-1,
.player-2 {
  font-size: 2em;
  line-height: 1.25em;
  margin: 0 0 1em;
  padding: 0.25em 0.75em 0.5em;
  vertical-align: middle;
  border-radius: 0.25em;
}

.player-1,
.face-X {
  color: #2B0303;
  background-color: lightcoral;
}

.player-2,
.face-O {
  color: #042B03;
  background-color: aquamarine;
}

.scores {
  line-height: 3em;
  margin: 1em 0 2.5em;
}

.scores span {
  margin: 0 .25em;
}

.scores .vs {
  font-size: 2em;
  vertical-align: middle;
}